@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  background-color: black !important;
  color: white !important;
  background-image: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: 0%;
  font-family: "Inter", sans-serif !important;
}

body a {
  color: white !important;
  text-decoration: none !important;
}

body a:hover {
  color: orange !important;
}


h1 {
  font-size: 250%;
  font-weight: 700 !important;
}

h3 {
  font-weight: 500 !important;
}

.brand {
  margin-top: 30% !important;
}

.latest-posts {
  /* margin-left: 5%;*/
  font-weight: 400;
}

/*.avatar-section {
  margin-left:50%;
  margin-top:-10%;
}*/
.avatar {
  border: 1px solid;
  border-image: url("../assets/avatar-border.svg") 10 10 / 8px / 8 round;
  width: 53%;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icn {
  width: 3%;
}

.social {
  display: block;
  margin-top: 5%;
}

.social a {
  color: white;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
}

.main-section {
  min-height:100vh;
}

.content-section {
  text-align: center;
  background-image: url("../assets/cube.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post-content img {
max-width:100%;
}

.btn-primary {
  background-color:transparent !important;
  border:0px !important;
}

.arrow 
{
  width:400% !important;
}

.btn-primary:focus,.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
}