@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
	scroll-behavior: smooth;
}

#background-glass {
	background: rgba( 0, 0, 0, 0.7);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
	backdrop-filter: blur( 15.5px);
	-webkit-backdrop-filter: blur( 15.5px);
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	border-radius: 10px;
}

body {
	background-image: url("../assests/background-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white !important;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

#container {
	background-image: url("../assests/blush.svg");
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.header {
	margin-bottom: 3%;
}

#description {
	text-align: center;
	color: #f5f5f5;
}

.button {
	background: white;
	color: #383838;
	padding: 2vh;
	text-decoration: none;
	border-radius: 20px;
}

.button:hover {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#name {
	text-align: center;
	padding-top: 10%;
	-webkit-user-drag: none;
	user-select: none;
	font-size: 200%;
	color: #f5f5f5;
}

#menu {
	padding-top: 4%;
	text-align: center;
	padding-right: 5%;
}

#menu a {
	margin-left: 5%;
	text-decoration: none;
	color: white;
}

#menu a:hover {
	color: #3494A1;
}

#page-content {
	height: 185vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	float: left;
	width: 35%;
	cursor: default;
	margin-left: 10%;
	margin-top: 3%;
}

.card-article-big {
	background: rgba( 255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
	backdrop-filter: blur( 4px);
	-webkit-backdrop-filter: blur( 4px);
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18);
	width: 60%;
	border-radius: 15px;
	height: 30%;
	color: black;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3%;
}

.card-article-small {
	background: rgba( 255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
	backdrop-filter: blur( 4px);
	-webkit-backdrop-filter: blur( 4px);
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18);
	width: 30%;
	border-radius: 15px;
	height: 30%;
	color: black;
	float: left;
	margin-top: 3%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-article-big,
.card-article-small {
	font-family: 'Inter', sans-serif;
}

.card-article-big,
.card-article-small {
	padding: 1.2%;
}

#articles {
	height: 70%;
	width: 100%;
}

.card-article-big a,
.card-article-small a {
	color: white;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

#icon {
	width: 8%;
	user-select: none;
	-webkit-user-drag: none;
}

#blank {
	margin-top: 10%;
}

#footer {
	clear: both;
	margin-top: 10%;
}

#footer a {
	color: white;
	text-decoration: none;
}

.card-article-big:hover,
.card-article-small:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

#post-header {
	color: white;
	padding-top: 0.1%;
	height: 10%;
	text-align: center;
	padding-bottom: 2%;
}

#post-header h1 {
	cursor: default;
}

#post-header a {
	margin-right: 5%;
	margin-left: 5%;
	color: White;
	text-decoration: none;
}

#post-header a:hover {
	color: #3494A1
}

.post,
.h-entry {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.post-blog h2 a {
	color: White;
	word-wrap: break-word;
	text-decoration: none;
}

.post-card {
	word-wrap: break-word;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 2%;
	margin-top: 5%;
}

#title-post-blog {
	background-color: #f7f7f7;
	height: 5%;
	word-wrap: break-word;
	border-radius: 2px 2px 0px 0px;
	color: black;
	border: 0.5px solid #e4e7eb;
}

#desc-post-blog {
	background: rgba( 255, 255, 255, 1);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
	backdrop-filter: blur( 20px);
	-webkit-backdrop-filter: blur( 20px);
	border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 2px 2px;
	word-wrap: break-word;
	color: black;
	padding: 30px;
	border: 0.5px solid #e4e7eb;
}

.post-content p {
	word-wrap: break-word;
}

#blog-container {
	width: 80%;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
}

.featured-content {
	color: white;
	text-decoration: none;
}

.featured-content:hover {
	color: #3494A1;
}

/* Mobile phones */
@media only screen and (max-width: 600px) {
	#background-glass {
		width:100%;
		margin-top:0 !important;
		margin-bottom:0 !important;
	}
}

