@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
background-color:#393E46;
color:white !important;
margin:0; 
overflow-x: hidden; 
overflow-y: scroll;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.header {
  padding: 1vh; 
  width:100%;
  color:white;
  background-color:#222831;
}


#darkmode-btn, #lightmode-btn {
  user-select: none;
  -webkit-user-drag: none;
  min-width:1vh;
  max-width:40%;

}

#color-picker {
  margin-left:10%;
}

.header h1 {
  margin-left: 2.5vh;
}

.header a {
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.menu {
  float: right;
  margin-top: -11vh;
  margin-right: 5vh;
}

.menu li {
  float: left;
  display: block;
  text-decoration: none;
}

.menu li a {
  padding: 1vh;
  font-size: 3vh;
  font-weight: 600;
}

#donate_btn {
  background-color: #e53e3e;
  color: white;
  border-radius: 5px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 150vh;
  margin-top: 7vh;
}

.menuicn {
  display:none;

}

#hand-image {
  -webkit-user-drag: none;
  max-height: 30vh;
  float: left;
}

.promotion {
  margin-left: 20%;
}

.promotion p {
  font-size: 20px;
  color: white;
}

.promotion a {
  text-decoration: none;
  color: white;
}

.promotion a:hover {
  color: tomato;
}

#cards {
  text-align: center;
}

.card {

  background: rgba( 255, 255, 255, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 30%;
  margin-left: 1.5vh;
  float: left;
  border-radius: 10px;
  text-align: left;
  height: 25vh;
  padding: 1vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card h2 {
  padding-left: 3px;
  margin-top: 4vh;
  text-overflow: ellipsis;
}

.card a {
  text-overflow: ellipsis;
  text-decoration: none;
  color:white;
}

.card a:hover {
  color: tomato;
  cursor: pointer;
}



#line {
width:70%;
}

#hand-image {
  clear: left;
}

.single-card {
  background: rgba( 255, 255, 255, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 30vh;
  height: 20vh;
  float: left;
  border-radius: 10px;
  text-align: left;
  width: 97%;
  margin-top: 3vh;
  margin-left: 1vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.single-card a {
  color:white;
  margin-left: 10px;
  text-decoration: none;
}

.single-card a:hover {
  color: tomato;
}

.addhover:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


#footer {
  display: block;
  margin-top:3%;
  text-align:center;
  overflow-wrap: break-word;
}


.email {
  color:deepskyblue;
  text-decoration:none;
}

.fa-heart {
  color:red;
  
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 4103px) and (max-width: 5464px) {

  h1 {
    font-size: 5vh;
  }

  h2 {
    font-size: 3vh;
  }

  #line {
    width: 85%;
    margin-top: 50vh;
  }
}

@media only screen and (max-width: 620px) {
  body {
    overflow: auto;
  }

  #hand-image {
    margin-left:15%;
    padding-top:5%;
    display:block;
  }

  #promotion {
    padding-top:10vh;
  }

  #clear-mobile {
    clear:left;
  }

  #container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    margin-left: 6vh !important;
  }


  .promotion {
    clear: left;
    margin-top: 30vh;
    overflow-wrap: break-word;
    height: 20% !important;
    margin-left: 0px !important;
  }

  .card {
    width: 80% !important;
    margin-left: 10%;
    margin-top:5%;
    height: 20%;
  }
  .single-card {
    width: 83% !important;
    margin-left: 10%;
    height: 20%;
    padding-bottom:5%;
  }



  #see-all-repos {
    display: none;
  }

  .menuicn {
    font-size:4vh;
    position: absolute;
    right: 20;
    top: 3;
    display:block;
    
  }

  .menu li {
    display:none;
  }
}
