---
layout: default
---

<div class="container">

  <div class="row">

    <div class="col-md-12">
      
      <span class="latest-posts d-block mt-4">
        <img alt="Yellow Dot Icon" src="../contents/assets/yellow-dot.svg" />
        Latest blog post:
        <a href="/2021/09/19/website-updated.html" title="Latest blog post"> Website Updated</a>
      </span>
    </div>
  </div>
  <div class="row">
  
    <div class="col-md-6">
      <h1 class="mt-5 ">Halit Sever</h1>
      <h4>Developer</h4>
      <div class="qr-code mt-5 pt-5">
        <img
          src="../contents/assets/insta-qrcode.svg"
          class="qr pt-5 mt-5"
          alt="Halit Sever's QR Code"
        />
      </div>
    </div>
    <div class="col-md-6 pt-5 mt-5 main-section">
      
      <div class="avatar-section mt2 ml-5">
        <img
          class="avatar img-fluid mx-auto"
          alt="Murat Halit Sever's Profile Picture"
          src="https://avatars.githubusercontent.com/u/34791459?v=4"
        />

        <img
          src="../contents/assets/cursor.svg"
          class="cursor"
          alt="Halit Sever Cursor"
        />
        <span class="social"
          ><img alt="Github Icon" class="icn" src="../contents/assets/icons/github.svg" />
          <a rel="nofollow" href="https://github.com/halitsever" target="_blank"
            >github.com/halitsever</a
          >
          <img alt="Linkedin Icon" class="icn" src="../contents/assets/icons/linkedin.svg" />
          <a rel="nofollow" href="https://www.linkedin.com/in/halitsever/" target="_blank"
            >linkedin.com/halitsever</a
          >
        </span>
      </div>
    </div>
  </div>

  <div class="row info-section mb-5 pb-5 ">
    <div class="col-md-5">
    <h2 class="mb-3">Hi, I'm Halit Sever</h2>
   
    <p>
      I was born in Istanbul, Turkey on November 11, 2002. I've been interested
      in programming for about 3 years. I'm focused on back-end technologies. 
      I develop web services in the companies I work for and provide solutions to problems with my code.
    </p>
  

    <p>
      <br />
      <a href="{{sitebase.url}}/blog" title="Blog page">Click here</a> to read the blog posts.
      <br />
      If you want to work with me, you can reach me on the
      <a href="{{sitebase.url}}/contact" title="Contact page">contact page.</a>
    </p>
      </div>

      <div class="col-md-5 px-5 mx-5 mx-auto"  >
        <lottie-player src="../contents/assets/lottie/lf20_3w6qbzif.json" speed="2"   loop  autoplay></lottie-player>
      </div>


    </div>

  
    <div class="col-md-12 mt-5 pt-5">
      <h3 class="text-center ">Work with me</h3>
      <a href="/contact"><img src="../contents/assets/banner-site.svg" class="w-100 h-100" alt="Halit Sever Banner"></a>
    </div>
</div>
