---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="latest-posts d-block mt-4">
        <img src="../contents/assets/yellow-dot.svg" />
        Latest blog post:
        <a href="/2021/09/19/website-updated.html"> Website Updated</a>
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 mt-5">
      <h1 class="mt-5 pt-5">Halit Sever</h1>
      <h4>Developer</h4>
    </div>
    <div class="col-md-6 mt-5">
      <div class="avatar-section">
        <img
          class="avatar img-fluid"
          alt="Murat Halit Sever's Profile Picture"
          src="https://avatars.githubusercontent.com/u/34791459?v=4"
        />
        <span class="social"
          ><img class="icn" src="../contents/assets/icons/github.svg" />
          <a href="https://github.com/halitsever" target="_blank"
            >github.com/halitsever</a
          >
          <img class="icn" src="../contents/assets/icons/linkedin.svg" />
          <a href="https://www.linkedin.com/in/halitsever/" target="_blank"
            >linkedin.com/halitsever</a
          >
        </span>
      </div>
    </div>
  </div>

  <div class="row mt-5 mx-auto text-center">
    <p>
      <button
        class="btn btn-primary px-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collaspe"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <img class="arrow mt-5" src="../contents/assets/arrow.svg" />
      </button>
    </p>
    <div class="collapse py-4" id="collaspe">
      <div class="card card-body bg-dark">
        <br />
        <h1 >Hi, I'm Halit Sever</h1>
        <br />
        <audio class="mx-auto" controls>
          <source src="../contents/sound/halit_speech.mp3" type="audio/mpeg" />
        </audio>
        <br /><br />
        <p class="w-50 mx-auto">
          I was born in Istanbul, Turkey on November 11, 2002. I've been
          interested in programming for about 4 years. I'm focused on back-end
          technologies. I develop web and mobile applications in the companies I
          work for.
        </p>
        <br /><br />
        <img
          class="w-50 mx-auto"
          src="https://github-readme-stats.vercel.app/api/top-langs/?username=halitsever&layout=compact"
          alt="Murat Halit Sever's Most Used Languages        "
        />
        <br /><br />
        <p>
          <a href="{{site.baseurl}}/blog">Click here</a> to read the blog posts. <br>
          If you want to work with me, you can reach me on the
          <a href="{{sitebase.url}}/contact">contact</a> page.
        </p>
      </div>
    </div>
  </div>
</div>
